QToolBar {
    background-color: #2e2e2e;
    border: 1px solid #5b5e60;
    padding: 4px;
    spacing: 4px;
}

QToolBar::handle {
    background-color: #5b5e60;
    width: 10px;
    height: 10px;
    margin: 4px;
}

QToolBar::separator {
    background-color: #5b5e60;
    width: 1px;
    height: 24px;
    margin: 6px;
}

QToolBar::item {
    padding: 4px;
}
