QMenuBar {
    background-color: #2e2e2e;
    color: #ffffff;
    border-bottom: 1px solid #5b5e60;
}

QMenuBar::item {
    background-color: transparent;
    padding: 6px 6px;
    color: #ffffff;
}

QMenuBar::item:selected {
    background-color: #4a90e2;
    color: #ffffff;
}

QMenuBar::item:pressed {
    background-color: #3d78b2;
    color: #ffffff;
}