QPushButton {
    background-color: #3c3f41;
    color: #fff;
    border: 1px solid #5b5e60;
    border-radius: 4px;
    padding: 0px 0px;
}

QPushButton:hover {
    border-color: #4a90e2;
}

QPushButton:pressed {
    background-color: #3d78b2;
    border-color: #2a5f92;
}

QPushButton:checked {
    background-color: #4a90e2;
    border-color: #3d78b2;
    color: #fff;
}